* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: black;
}

.container {
    display: flex;
    margin-top: 50px;
}